.anpager .cpb /*当前页索引按钮样式*/
{background:#1F3A87 none repeat scroll 0 0;
border:1px solid #CCCCCC;
color:#FFFFFF;
font-weight:bold;
margin:5px 4px 0 0;
padding:4px 5px 0;}

.anpager a /*超链接样式*/
{background:#FFFFFF none repeat scroll 0 0;
border:1px solid #CCCCCC;
color:#1F3A87;
margin:5px 4px 0 0;
padding:4px 5px 0;
text-decoration:none}

.anpager a:hover /*鼠标悬停时的超链接样式*/
{background:#1F3A87 none repeat scroll 0 0;
border:1px solid #1F3A87;
color:#FFFFFF;}