body {
	background-color: #E3F3F9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color:#000000;       /*#336699;*/
}

HR {
	COLOR: #0066cc; WIDTH: 80%
}
HR.Whole {
	HEIGHT: 2pt; WIDTH: 100%
}


a {
	color: #3366CC;
	text-decoration: none;
}

form {
	background-color: #E3F3F9;
}

.god5 {  font-size: 12px; color: #000000; text-decoration: none; border:1px solid #006699}

.title {
	font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
	line-height: 30px;
  background-color: #006666;
	color: #DCDCDC;
}

.subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
  color: #006666;
}

.header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	background-color: #006666;
  color: #DCDCDC;
}

td, th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color:#E3F3F9 ;/*#333333;*/
}

.nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #E3F3F9 ;
}

.navLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #E3F3F9 ;

}

.sidebar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	padding: 3px;
	background-color: #FFFFFF;
}

.sidebarHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	background-color: #339999;
}

.sidebarFooter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	background-color: #CCCCCC;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	color: #333333;
	background-color: #CCCCCC;
}

.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}

.box1 {
	border-color: #CCCCCC #333333 #333333 #CCCCCC;
	border-width: medium;
  border-style: ridge;
}

.FormText
{
    BORDER-RIGHT: #0066cc 1px solid;
    BORDER-TOP: #0066cc 1px solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: #0066cc 1px solid;
    CURSOR: hand;
    LINE-HEIGHT: 120%;
    BORDER-BOTTOM: #0066cc 1px solid;
    BACKGROUND-COLOR: #f1f5fa

}

.FormTextNew
{
    BORDER-RIGHT: #0066cc 1px solid;
    BORDER-TOP: #0066cc 1px solid;
    FONT-SIZE: 15px;
    BORDER-LEFT: #0066cc 1px solid;
    CURSOR: hand;
    LINE-HEIGHT: 120%;
    BORDER-BOTTOM: #0066cc 1px solid;
    BACKGROUND-COLOR: #f1f5fa

}

.promo {
	font-family: "Times New Roman", Times, serif;
	color: #000033;
}

.titlebar {
	font-size: 14px;
	font-weight: bolder;
	color: #ffffff;
	BACKGROUND-COLOR: #EEEEEE;
	COLOR: #000000;
}

.dingbat {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #99CC99;
	color: #006666;
	font-weight: bolder;
	font-size: medium;
}

a:hover {
	text-decoration: underline;
}



input.big {
	width: 100px;
}

input.small {
	width: 50px;
}
INPUT.main_button
       {FONT-SIZE: 9pt;
        width:80px; color:blue

       }
SELECT {
	FONT-SIZE: 12px
}

TABLE.table_bar {
	font: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #FFFFFF;
    background-color: #CCCCFF;
    border-color:Black;
}

TABLE.table_bar1 {
	BACKGROUND-COLOR: #FF0000;
	COLOR: #000000;
	font-family: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
}

TABLE.table_content {
	BORDER-BOTTOM: #e1e1e1 thin outset;
	BORDER-LEFT: #e1e1e1 thin outset;
	BORDER-RIGHT: #e1e1e1 thin outset;
	BORDER-TOP: #e1e1e1 thin outset;
}
TABLE.table_list {
	BACKGROUND-COLOR: #eeeeee;
	BORDER-BOTTOM: #e1e1e1 thin outset;
	BORDER-LEFT: #e1e1e1 thin outset;
	BORDER-RIGHT: #e1e1e1 thin outset;
	BORDER-TOP: #e1e1e1 thin outset;
	font-family: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
}
TABLE.table_info {
	BACKGROUND-COLOR: #e1e1e1;
	BORDER-BOTTOM: #e1e1e1 thin outset;
	BORDER-LEFT: #e1e1e1 thin outset;
	BORDER-RIGHT: #e1e1e1 thin outset;
	BORDER-TOP: #e1e1e1 thin outset;
	font-family: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
}
TD.sort {
	BACKGROUND-COLOR: #aababa;
	font-family: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;

}
TD.name {
	BACKGROUND-COLOR: #a5bfde;
	font-family: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;

}
TD.name1 {
	BACKGROUND-COLOR: #a5cfde;
	font-family: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
}
TD.lab {
	BACKGROUND-COLOR: #a5cfde;
	font-family: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
}
TD.lab2 {
	BACKGROUND-COLOR: #eeeeee;
	font-family: Arial, Helvetica, sans-serif;
	FONT-SIZE: 10px;
}
TD.content {
	BACKGROUND-COLOR: #eeeeee;
	font-family: "Arial", "Helvetica", "sans-serif";
	FONT-SIZE: 12px;
	text-decoration: none;

}
TD.content2 {
	BACKGROUND-COLOR: #eeeeee;
	font-family: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
}
TD.content1 {
	BACKGROUND-COLOR: #eeffff;
	font-family: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
}
TD.content3 {
	BACKGROUND-COLOR: #eeffff;
	font-family: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
}
TD.xh {
	BACKGROUND-COLOR:orange;
	font-family: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
}
TD.title1 {
	font-family: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
}
TD.bbcontent {
	BACKGROUND-COLOR: #eeeeee;
	font-family: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
}
TD.bbname {
	BACKGROUND-COLOR: #a5bfde;
	font-family: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
}
TD.bbfj {
	font-family: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
}
TD.hyper {
	font-family: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
}
TR.oddline {
	BACKGROUND-COLOR: #a5bfde
}
TR.title {
	BACKGROUND-COLOR: #aababa; FONT-WEIGHT: bolder
}
a:visited {
	font-size: 12px;
	text-decoration: none;
}
body {
	margin: 0px;
}

.table_1{
	background:#E3F3F9;
	border: 1px solid #5B96AB;
	border-collapse:collapse;
}

.table_01{
	border-top: 0px solid #000000;
	border-right: 0 solid #000000;
	border-bottom: 0 solid #000000;
	border-left: 0px solid #000000;
	border-collapse:collapse;
    background-color: #EFEFFE;}
.table_new{
	border-top: 1px solid #000000;
	border-right: 0 solid #000000;
	border-bottom: 0 solid #000000;
	border-left: 0px solid #000000;
	border-collapse:collapse;
    background-color: #EFEFFE;}     
.td_01{
	border-top: 0 solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 0 solid #000000;
	line-height: 16px;
	color: #000000;
	border-collapse : separate;
	empty-cells:show;
	padding:1px;
}

.table_2{
	border-top: 1px solid #000000;
	border-right: 0 solid #000000;
	border-bottom: 0 solid #000000;
	border-left: 1px solid #000000;
	border-collapse:collapse;
    background-color: #EFEFFE;}
   
.td_2{
	border-top: 0 solid #000000;
	border-right: 0px solid #000000;
	border-bottom: 0px solid #000000;
	border-left: 0 solid #000000;
	line-height: 25px;
	color: #000000;
	border-collapse : separate;
	empty-cells:show;
	padding:1px;
}


.Table {
	border: 0px solid #000000;
	font-size: 12px;
	text-decoration: none;}

.Table_top {
	font-size: 12px;
	text-decoration: none;
	background-color: #5b96ab;
	color: #FFFFFF;}

.Tr_1 {
	font-size: 12px;
	text-decoration: none;
	background-color: #B4C1E2;
	line-height: 20px;
}

.Freeze_Tr
      {
        position:relative;
        top:expression(this.offsetParent.scrollTop);
        background-color: #B4C1E2;
        font-size: 12px;
		text-decoration: none;
		background-color: #B4C1E2;
		line-height: 20px;
        }

.Tr_2 {
	font-size: 12px;
	text-decoration: none;
	background-color: #EFEFFE;
	line-height: 20px;
	}

.Tr_3 {
	font-size: 12px;
	text-decoration: none;
	background-color: #cde8f1;
}
.Tr_4 {
	font-size: 12px;
	text-decoration: none;
	background-color: #97CBFF;
}
.Tr_5 {
	font-size: 12px;
	text-decoration: none;
	background-color: #DAFEF9;
}
.Tr_6 {
	font-size: 12px;
	text-decoration: none;
	background-color: #fafafa;
}
.td1{
	background-color: #B4C1E2;
	color: #000000;
	font-size: 12px;
	text-decoration: none;}

.td2{
	background-color: #B4C1E2;}

.Size_1 {
	font-size: 12px;
	text-decoration: none;}

.Size_2 {
	font-size: 12px;
	color: #0000FF;
	text-decoration: none;}

.Size_3 {
	font-size: 12px;
	color: #0000FF;
	text-decoration: none;
	font-weight: bold;}


.Size_4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ff0000;
	font-weight: bold;
	font-style: italic;}

.Size_5 {
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #0099FF;
}


.Size_6 {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
}


.Input_text {
	background-color:expression((this.readOnly&&this.readOnly==true)?"#D9D9D9":"");
	font-size: 12px;
	text-decoration: none;
	background-position: 1px 1px;
	padding: 1px;
	border: 1px solid #666666;}

.Input_login {
	font-size: 12px;
	text-decoration: none;
	background-color: #ACDDFD;
	border: 1px solid #666666;
	color: #0000FF;}

.Input_text_1 {
	font-size: 12px;
	text-decoration: none;
	background-position: 1px 1px;
	padding: 1px;
	border: 1px solid #fafafa;
	background-color: #fafafa;
}

a:hover {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
a:active {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
a:link {
	font-size: 12px;
	text-decoration: none;
}
.lt1 {
	font-size: 12px;
	background-color: #ff921c;
}
.lt2 {
	font-size: 12px;
	color: #FFFFFF;
	background-color: #00CCFF;
}
.input_noborder
	{mso-style-parent:style0;
	color:black;
	font-size:10.0pt;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	text-align:left;
	vertical-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	overflow:hidden}  .g9 {
	font-size: 12px;
	text-decoration: none;
	line-height: 15px;
}

* { padding:0; margin:0;}
body { font:"宋体", Helvetica, sans-serif; 	font-size: 12px;
	line-height: 24px;
}

.subnav { float:left; border-bottom:1px solid #8D97D3; border-right:1px solid #8D97D3; border-left:1px solid #8D97D3;}

.fontbold { font-size:12px; font-weight:bold; line-height:28px; color:#333333;}

td, th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #333333;
}


.td_3 { border-bottom:1px solid #9FA5C5; border-right:1px solid #9FA5C5; border-left:1px solid #9FA5C5;}

.Input_text {
	background-color:expression((this.readOnly&&this.readOnly==true)?"#D9D9D9":"");
	font-size: 12px;
	text-decoration: none;
	background-position: 1px 1px;
	padding: 1px;
	border: 1px solid #666666;}

.Table {
	border: 1px solid #9FA5C5;
	font-size: 12px;
	text-decoration: none;}
	
	.Tr_1 {
	font-size: 12px;
	text-decoration: none;
	background-color: #B4C1E2;
	line-height: 20px;
}

.Tr_2 {
	font-size: 12px;
	text-decoration: none;
	background-color: #EFEFFE;}
	
	
.Input_text_date{
	font-size: 12px;
	text-decoration: none;
	background-position: 1px 1px;
	padding: 1px;
	border: 1px solid #666666;
	background:#fff url(../Images/button/date.gif) no-repeat right;
}
.div_msg
{
	font-size: 12px;
	text-decoration: none;
	border-right: dodgerblue 1px solid; 
	border-top: dodgerblue 1px solid; 
	border-left: dodgerblue 1px solid; 
	border-bottom: dodgerblue 1px solid; 
	background-color: #cde8f1;
	}
	
	
/* CSS样式 */

.ajax_tab_menu .ajax__tab_header /*整体按钮底样式*/
{
font-family:宋体;
height:28px;
font-size:12px;
background:url("../Images/page/Tab_Option_bg.gif") repeat-x bottom;
}

.ajax_tab_menu .ajax__tab_body
{
	font-family: 宋体;
	font-size: 12px;
	border-top: blue 0px solid;
	background-color: #ffffff;
	border-right: blue 0px solid;
	border-left: blue 0px solid;
	border-bottom: blue 0px solid;
}

.ajax_tab_menu .ajax__tab_tab
{
	background: url( "../Images/page/Tab_Option_bg_OFF.gif" ) repeat-x;
	width: 78px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	margin-right: 4px;
	margin: 0;
}
.ajax_tab_menu .ajax__tab_hover .ajax__tab_tab /*鼠标经过样式*/
{
background:url("../Images/page/Tab_Option_bg_ON.gif") repeat-x;
width:78px;
height:28px;
color:#FFFFFF;
line-height:28px;
text-align:center;
}

.ajax_tab_menu .ajax__tab_active .ajax__tab_tab /*当前使用中样式*/
{
background:url("../Images/page/Tab_Option_bg_ON.gif") repeat-x;
width:78px;
height:28px;
line-height:28px;
text-align:center;
color:#FFFFFF;
}

.watermarked {
	height:20px;
	width:150px;
	padding:2px 0 0 2px;
	border:1px solid #BEBEBE;
	background-color:#F0F8FF;
	color:gray;
}
/*-------------------------↓提示框的样式↓--------------------------------*/

.tooltipinputerr
{
	border: solid 1px red;
	background: #ffff99 url(../Images/page/exclamation.png) no-repeat 2px center;
	}

.tooltipinputok
{

}

.tooltipshowpanel
{
	z-index: auto;
	display: none;
	position:absolute;
	width: 276px;
	height: 35px;
	overflow: hidden;
	text-indent: 5px;
	line-height: 40px;
	font-size: 12px;
	font-family: Arial;
	color:blue;
	background: url(../Images/page/tooltop.gif) no-repeat left top;
	opacity:0.9;
    filter: alpha(opacity=90);
	}
/*-------------------------↑提示框的样式↑--------------------------------*/



/*-------------------------↓分页控件的样式↓--------------------------------*/
.anpager .cpb /*当前页索引按钮样式*/
{
	background:#1F3A87 none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	color:#FFFFFF;
	font-weight:bold;
	margin:5px 4px 0 0;
	padding:4px 5px 0;
}

.anpager a /*超链接样式*/
{
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	color:#1F3A87;
	margin:5px 4px 0 0;
	padding:4px 5px 0;
	text-decoration:none
}

.anpager a:hover /*鼠标悬停时的超链接样式*/
{
	background:#1F3A87 none repeat scroll 0 0;
	border:1px solid #1F3A87;
	color:#FFFFFF;
}

/*-------------------------↑分页控件的样式↑--------------------------------*/


/*-------------------------↓Top页面 导航栏Tab的样式↓--------------------------------*/

	#tabslink {
	  float:left;
     /* width:100%;*/
      font-size:93%;
	  border-bottom:1px solid #2763A5;
      line-height:normal;
      }
    #tabslink ul {
	  margin:0;
	  padding:2px 10px 0 150px;
	  list-style:none;
      }
    #tabslink li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabslink a {
      float:left;
      background:url("../Images/head/tableft.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabslink a span {
      float:left;
      display:block;
      background:url("../Images/head/tabright.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabslink a span {float:none;}
    /* End IE5-Mac hack */

    #tabslink a:hover {
      background-position:0% -42px;
      }
    #tabslink a:hover span {
      background-position:100% -42px;
      }
	
	
	  #tabslink {
      float:left;
      width:100%;
      font-size:93%;
	  border-bottom:1px solid #2763A5;
      line-height:normal;
      }
      
/*-------------------------↑Top页面 导航栏Tab的样式↑--------------------------------*/


/*-------------------------↓页面中 Tab的样式↓--------------------------------*/

#container {
	text-align: left;
	padding: 5px;
}

#container #title {
	height: 28px;
}
#container #title li {
	float: left;
	list-style-type: none;
	height: 28px;
	line-height: 28px;
	text-align: center;
	margin-right: 1px;
}
#container #title ul {
	height: 28px;
}
#container #title a {
	text-decoration: none;
	color: #000000;
	display: block;
	width: auto;
	background: url(../Images/page/tab1.gif) no-repeat left -29px;
}
#container #title a span{
	display: block;
	background: url(../Images/page/tab2.gif) no-repeat right -29px;
	padding: 0 15px 0 15px;
}
#container #title li a:hover {
	text-decoration: none;
	color: #ffffff;
	display: block;
	width: auto;
	background: url(../Images/page/tab1.gif) no-repeat left -87px;
}
#container #title li a:hover span{
	display: block;
	background: url(../Images/page/tab2.gif) no-repeat right -87px;
	padding: 0 15px 0 15px;
}

#container #title .selectli1 {
	text-decoration: none;
	color: #ffffff;
	display: block;
	width: auto;
	background: url(../Images/page/tab1.gif) no-repeat left -87px;
}
#container #title a .selectspan1 {
	display: block;
	background: url(../Images/page/tab2.gif) no-repeat right -87px; 
	padding: 0 15px 0 15px;
}
#container #title .selectli2 {
	text-decoration: none;
	color: #ffffff;
	display: block;
	width: auto;
	background: url(../Images/page/tab1.gif) no-repeat left  -87px;
}
#container #title a .selectspan2 {
	display: block; 
	background: url(../Images/page/tab2.gif) no-repeat right  -87px; 
	padding: 0 15px 0 15px;
}


#container #content ul {margin: 10px;}
#container #content li {margin: 5px; }
#container #content li img {margin: 5px;display:block;}
#container #content {
	padding: 10px;
}
.content1 {
	border-top-width: 3px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #3A81C8;
	border-right-color: #3A81C8;
	border-bottom-color: #3A81C8;
	border-left-color: #3A81C8;
	background-color: #DFEBF7;
}
.content2 {
	border-top-width: 3px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #3A81C8;
	border-right-color: #3A81C8;
	border-bottom-color: #3A81C8;
	border-left-color: #3A81C8;
	background-color: #DFEBF7;
}

.hidecontent {display:none;}

/*-------------------↑页面中 Tab的样式↑--------------------------------*/


/*-------------------↓方向treeview的div样式↓--------------------------------*/
.DivClose
{
	display:none;
	position:absolute;
	width:250px;
	height:220px;
	border-style:solid;
	border-color:Gray; 
	border-width:1px;
	background-color:#99A479;
}
.LabelClose
{
	vertical-align:text-top; 
	position:absolute;
	bottom:0px;
	font-family:Verdana;
}

.DivList
{
	display:none;
	background-color:White;
	width:250px;
	position:absolute;
	height:200px;
	overflow-y:auto; 
	overflow-x:hidden;
	border-style:solid;
	border-color:Gray; 
	border-width:1px;
	text-align:left;
}
/*--------------------↑方向treeview的div样式↑--------------------*/

.LockWindows
{
    BACKGROUND-IMAGE: url(../Images/page/loading_b.GIF);
    Z-INDEX: 0;
    POSITION: absolute;
    FILTER: alpha(opacity=75);
    BACKGROUND-COLOR: #777777;
    DISPLAY: block;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: center 50%;
    TOP: 0px;
    LEFT: 0px;
    -moz-opacity: 0.75;
    opacity: 0.75
}
.SmallLockWindows
{
    BACKGROUND-IMAGE: url(../Images/page/loading_b.GIF);
    POSITION: absolute;
    FILTER: alpha(opacity=75);
    BACKGROUND-COLOR: #fffdfd;
    DISPLAY: block;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: center 50%;
    -moz-opacity: 0.75;
    opacity: 0.75
}

DIV.brTip-box
{
    BORDER-BOTTOM: #6e92b6 1px solid;
    POSITION: absolute;
    BORDER-LEFT: #6e92b6 1px solid;
    WIDTH: 200px;
    DISPLAY: none;
    BACKGROUND: #fff;
    BORDER-TOP: #6e92b6 1px solid;
    BORDER-RIGHT: #6e92b6 1px solid
}
DIV.brTip-title
{
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 3px;
    MARGIN: 0px;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 3px;
    DISPLAY: block;
    BACKGROUND: #6e92b6;
    COLOR: #fff;
    PADDING-TOP: 3px
}
DIV.brTip-content
{
    TEXT-ALIGN: justify;
    PADDING-BOTTOM: 5px;
    MARGIN: 0px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    COLOR: #333;
    PADDING-TOP: 5px
}

#tooltip
{
    Z-INDEX: 3000;
    BORDER-BOTTOM: red 1px solid;
    POSITION: absolute;
    BORDER-LEFT: red 1px solid;
    PADDING-BOTTOM: 5px;
    BACKGROUND-COLOR: #ffffcc;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: red 1px solid;
    BORDER-RIGHT: red 1px solid;
    PADDING-TOP: 5px;
    opacity: 0.85
}
#tooltip H3
{
    MARGIN: 0px;
    FONT-SIZE: smaller
}
#tooltip DIV
{
    MARGIN: 0px;
    FONT-SIZE: smaller
}
