  .ToolbarStyle {
            background-color: transparent;
            border-bottom-width: 0px;
        }

            .ToolbarStyle button {
                font-size: 16px;
                /*color: #29444d;*/
                color:white;
                padding: 0 5px 0 5px;
            }

            .ToolbarStyle span {
                font-size: 16px;
                /*color: #29444d;*/
                  color:white;
                padding: 0 5px 0 5px;
                text-decoration: none;
            }

                .ToolbarStyle span a {
                    font-size: 16px;
                    /*color: #29444d;*/
                      color:white;
                    padding: 0 5px 0 5px;
                    text-decoration: none;
                }