<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>

    <root>
      <level value="ALL" />
    </root>

    <logger name="debugLog">
      <level value="DEBUG"/>
      <appender-ref ref="LogDebug"/>
    </logger>

    <logger name="infoLog">
      <level value="INFO"/>
      <appender-ref ref="LogInfo"/>
    </logger>

    <logger name="allConsole">
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>

   
    <!-- All information will be logged >
    <appender name="LogAll" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd"/>
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#13;&#10;" />
        <footer value="[Footer]&#13;&#10;" />
        <conversionPattern value="%date %message%newline" />
      </layout>
      </appender -->

    <!-- Error message will be logged -->
    <appender name="LogDebug" type="log4net.Appender.RollingFileAppender">
      <file value="log\调试.log" />
      <appendToFile value="true" />
      <rollingStyle value="size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1024kb" />
      <datePattern value="yyyyMMddHH:mm"/>
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[开始]&#13;&#10;" />
        <footer value="[结束]&#13;&#10;" />
        <conversionPattern value="%n记录时间：%date %n出错类：%logger property:[%property{NDC}]  %n出错信息：%m %n"/>
      </layout>
    </appender>

    <!-- Info message will be logged -->
   <appender name="LogInfo" type="log4net.Appender.RollingFileAppender">
      <file value="log\输出.log" />
      <appendToFile value="true" />
      <rollingStyle value="size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1024kb" />
      <datePattern value="yyyyMMddHH:mm"/>
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[开始]&#13;&#10;" />
        <footer value="[结束]&#13;&#10;" />
        <conversionPattern value="%n记录时间：%date  %n输出信息：%m %n"/>
      </layout>
    </appender>

    <!--定义输出到控制台命令行中-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>