<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyNet.Atmcs.Uscmcp.Bll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MyNet.Atmcs.Uscmcp.Bll.Properties.Settings>
            <setting name="MyNet_Atmcs_Uscmcp_Bll_OtherQueryService_OtherQueryInfo"
                serializeAs="String">
                <value>http://192.168.1.232:8080/other-webservice/services/OtherQueryInfo</value>
            </setting>
            <setting name="MyNet_Atmcs_Uscmcp_Bll_QueryService_querypasscar"
                serializeAs="String">
                <value>http://192.168.1.232:8080/query_webservice/services/querypasscar</value>
            </setting>
        </MyNet.Atmcs.Uscmcp.Bll.Properties.Settings>
    </applicationSettings>
</configuration>