<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="querypasscarHttpBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.232:8080/query_webservice/services/querypasscar"
        binding="basicHttpBinding" bindingConfiguration="querypasscarHttpBinding"
        contract="ServiceReference1.querypasscarPortType" name="querypasscarHttpPort" />
    </client>
  </system.serviceModel>
</configuration>