         .custom-icon01 {
        	background-image: url(../Images/System/01.png) !important;
        }
         .custom-icon02 {
        	background-image: url(../Images/System/01.png) !important;
        }
         .custom-icon03 {
        	background-image: url(../Images/System/01.png) !important;
        }
         .custom-icon04 {
        	background-image:url(../Images/System/01.png) !important;
        }
         .custom-icon05 {
        	background-image: url(../Images/System/01.png) !important;
        }
         .custom-icon06 {
        	background-image: url(../Images/System/01.png) !important;
        }
        .custom-icon07{
        	background-image: url(../Images/System/01.png) !important;
        }
        .custom-icon08 {
        	background-image: url(../Images/System/01.png) !important;
        }
         .custom-icon09 {
        	background-image: url(../Images/System/01.png) !important;
        }
         .custom-icon10 {
        	background-image: url(../Images/System/01.png) !important;
        }
        .Q-img-1 {
        	background-image: url(../Images/System/qui-icon1.png) !important;
        }
      
        .Q-img-2 {
        	background-image: url(../Images/System/qui-icon2.png) !important;
        }
        
