.custom-icon01 {
    background-image: url(../Images/img/ico/TMS.png) !important;
}

.custom-icon02 {
    background-image: url(../Images/img/ico/TGS.png) !important;
}

.custom-icon09 {
    background-image: url(../Images/img/ico/CCTV.png) !important;
}

.custom-icon10 {
    background-image: url(../Images/img/ico/CCTV.png) !important;
}

.custom-icon11 {
    background-image: url(../Images/img/ico/VMS.png) !important;
}

.custom-icon12 {
    background-image: url(../Images/img/ico/UTC.png) !important;
}

.custom-icon13 {
    background-image: url(../Images/img/ico/WEA.png) !important;
}

.custom-icon15 {
    background-image: url(../Images/img/ico/TFM.png) !important;
}

.custom-iconZD {
    background-image: url(../Images/img/ico/ZD.png) !important;
}

.custom-iconGZ {
    background-image: url(../Images/img/ico/GZ.png) !important;
}

.custom-iconBJ {
    background-image: url(../Images/img/ico/BJ.png) !important;
}

.custom-iconNBJ {
    background-image: url(../Images/img/ico/NBJ.png) !important;
}

.custom-iconSG {
    background-image: url(../Images/img/ico/SG.png) !important;
}

.custom-iconYD {
    background-image: url(../Images/img/ico/YD1.png) !important;
}

.custom-iconLK {
    background-image: url(../Images/img/ico/LK.png) !important;
}

.custom-iconGREEN {
    background-image: url(../Images/img/ico/GREEN.gif) !important;
}

.custom-iconYELLOW {
    background-image: url(../Images/img/ico/YELLOW.gif) !important;
}

.custom-iconRED {
    background-image: url(../Images/img/ico/RED.gif) !important;
}

.custom-iconJC {
    background-image: url(../Images/img/ico/JC.png) !important;
}

.custom-iconSB {
    background-image: url(../Images/img/ico/SB.png) !important;
}

.custom-iconZH {
    background-image: url(../Images/img/ico/ZH.png) !important;
}

.custom-iconWF {
    background-image: url(../Images/img/ico/WF.gif) !important;
}

.custom-iconJY {
    background-image: url(../Images/img/ico/JY.png) !important;
}

.custom-iconJQ {
    background-image: url(../Images/img/ico/JQ.png) !important;
}

.custom-iconBZ {
    background-image: url(../Images/img/ico/BZ.png) !important;
}

.custom-iconBZGJ {
    background-image: url(../Images/img/ico/BZGJ.png) !important;
}

.custom-iconBZJZ {
    background-image: url(../Images/img/ico/BZJZ.png) !important;
}

.custom-iconBZZS {
    background-image: url(../Images/img/ico/BZZS.png) !important;
}

.custom-iconSBGJ {
    background-image: url(../Images/img/ico/SBGJ.png) !important;
}

.custom-iconWFTJ {
    background-image: url(../Images/img/ico/WFTJ.png) !important;
}

.custom-iconJL {
    background-image: url(../Images/img/ico/JL.png) !important;
}

.postMark {
    background-image: url(../Images/img/state/mark1.png) !important;
}

.post360201cls {
    background-image: url(../Images/img/state/post1.png) !important;
}

.post360202cls {
    background-image: url(../Images/img/state/post2.png) !important;
}

.post360203cls {
    background-image: url(../Images/img/state/post3.png) !important;
}

.AlarmStep1 {
    background-image: url(../Images/img/number/step1.png) !important;
}

.AlarmStep2 {
    background-image: url(../Images/img/number/step2.png) !important;
}

.AlarmStep3 {
    background-image: url(../Images/img/number/step3.png) !important;
}

.AlarmStep4 {
    background-image: url(../Images/img/number/step4.png) !important;
}

.custom-iconbiao {
    background-image: url(../Images/Mapimg/baidumap.png) !important;
}

.custom-iconstop {
    background-image: url(../Images/Mapimg/stop256.png) !important;
}

.custom-icon01 {
    background-image: url(../Images/Mapimg/biao.png) !important;
}

.Q-img-1 {
    background-image: url(../Images/System/qui-icon1.png) !important;
}

.Q-img-2 {
    background-image: url(../Images/System/qui-icon2.png) !important;
}