

/*JIA 2009,4month-5month*/
/*系统主界面主要的样式----------------------------------------------------------------*/
/*宽1000PX;外补丁自动*/
#indexPagebody {
	width:1000px;
	margin:0 auto; }
 
/*切换样式----------------------------------------------------------------*/
/*文本流向对象的右边 */
.indexSwitch { float:left; }
/*字体深蓝青色*/
.indexNavPoint { color:#023E66; }
 
/*主页面主体右侧样式------------------------------------------------------*/
/*文本流向对象的右边,宽度82.4%*/
.indexMainbody {
	float:left;
	width:82.4%; }
