/*JIA 2009,4month*/


/*表格样式 小写C+16进制代码 = 字体颜色样式名称*/
/*1PX浅蓝色实线边框*/
.table {border:1px solid #A5D1EC;
}
/*背景颜色浅青色------------------------------------------------------------*/
.tableBackcolor { background-color:#E8F6FD; }
	
/*---外部表格START------------------------------------------------------------*/	
/*顶部表格设计----------------------------------------------------------------*/
/*高30PX;背景以X轴平铺*/
.wTableTopCenter{ 
     height:30px; 
	 background:url(../images/images_tab/tabtopcenter.gif) repeat-x;
}
/*宽12PX,高30PX;背景不重复居中*/
.wTableTopLeft{ 
     width:12px; 
	 height:30px; 
	 background:url(../images/images_tab/tabtopleft.gif) no-repeat left;
}
/*宽16PX,高30PX;背景不重复居右*/
.wTableTopRight{ 
     width:16px; 
	 height:30px; 
	 background:url(../images/images_tab/tabtopright.gif) no-repeat right;
}

/*中部表格设计----------------------------------------------------------------*/
/*背景颜色*/
.wTableCenterCenter{ background-color:#fff;}
/*宽8PX; 背景以Y轴平铺,背景图像位置居左*/
.wTableCenterLeft{ 
     width:8px; 
	 background:url(../images/images_tab/tabcenterleft.gif) repeat-y left;
}
/*宽8PX;背景以Y轴平铺,背景图像位置居右*/
.wTableCenterRight{ 
     width:8px; 
	 background:url(../images/images_tab/tabcenterright.gif) repeat-y right;
}

/*底部表格设计----------------------------------------------------------------*/
/*高35PX;背景以X轴平铺*/
.wTableBottomCenter{ 
     height:35px; 
	 background:url(../images/images_tab/tabbottomcenter.gif) repeat-x;
}
/*宽12PX,高35PX;背景不重复,背景图像位置居左上*/
.wTableBottomLeft{ 
     width:12px; 
	 height:35px; 
	 background:url(../images/images_tab/tabbottomleft.gif) no-repeat left top;
}
/*宽16PX,高35PX;背景不重复,背景图像位置居右上*/ 
.wTableBottomRight{ 
     width:16px; 
	 height:35px; 
	 background:url(../images/images_tab/tabbottomright.gif) no-repeat right top;
}
/*---外部表格 END-------------------------------------------------------------*/	

/*---内部表格START-------------------------------------------------------------*/
/*表格样式 TITLE----------------------------------------------------------------*/
/*高22PX;背景以X轴平铺;字体行高22PX,文本居中*/
.tableTitleTopBack{ 
     height:22px; 
	 background:url(../images/images_tab/bg.gif) repeat-x; 
	 line-height:22px; 
	 text-align:center;
}
/*表格 td 边框样式 右边+下边----------------------------------------------------*/
/*1PX浅蓝色实线边框(下边和右边);文本居中*/
.tableTdRightBottom{ 
     border-bottom:1px solid #b5d6e6; 
	 border-right:1px solid #b5d6e6; 
	 text-align:center;
}
/*表格 td 边框样式 右边----------------------------------------------------------------*/
/*1PX浅蓝色实线边框(右边);文本居中*/
.tableTdRight{ 
     border-right:1px solid #b5d6e6; 
	 text-align:center;
}
/*表格 td 边框样式 下边----------------------------------------------------------------*/
/*1PX浅蓝色实线边框(下边);文本居中*/
.tableTdBottom{ 
     border-bottom:1px solid #b5d6e6; 
	 text-align:center;
}

/*表格 td 边框样式 右边+下边----------------------------------------------------*/
/*1PX浅灰色虚线边框(下边和右边);文本居中*/
.tableBasicTdRightBottom{ 
     border-bottom:1px dashed #C0C0C0; 
	 border-right:1px dashed #C0C0C0; 
	 text-align:center;
}
/*1PX浅灰色虚线边框(下边);文本居中*/
.tableBasicTdBottom{ 
     border-bottom:1px dashed #C0C0C0; 
	 text-align:center;
}

/*表格 颜色样式----------------------------------------------------------------*/
/*浅青色背景;字体灰色*/
td.alt {
     background-color:#F5FAFA; 
	 color: #797268;
}
/*上边框样式为无; 字体灰青色,文本居中*/
td.spec {
     border-top: 0; 
	 color:#4f6b72; 
	 text-align:center;
}
/*字体灰青色;背景以X轴平铺*/
tr.th {
     color: #4f6b72; 
	 background:url(../images/images_tab/title_back.gif) repeat-x;
}
/*---内部表格END-------------------------------------------------------------*/	

/*查询条件TITLE----------------------------------------------------------*/
/*宽141PX;字体白色,大小14PX,文本缩进12PX,行高24PX,粗体,蓝青色发光;背景不重复*/
.tableSleek{ 
     width:141px;
	 color:#ffffff;
	 text-indent:12px; 
	 font-size:14px; 
	 background:url(../images/images_tab/table_title_03.gif) no-repeat; 
	 line-height:24px; 
	 font-weight:bold;
	 filter:glow(color=#1070a3,strength=1);
}
/*1PX浅蓝青色实线边框, 浅蓝青色背景*/
.tableSleektd{ 
     border:1px solid #b5d6e6; 
	 background-color:#E8F6FD;
}/*td的样式*/

/*文本缩进12PX*/	 
.tableTextA{ text-indent:12px;}/*字数多的时候用*/

/*文本缩进30PX*/
.tableTextB{ text-indent:30px;}/*字数少的时候用*/

/*TAB(事故)样式----------------------------------------------------------*/
/*1PX灰色虚线下边框;字体行高23PX*/
.tableTr { 
     border-bottom:1px dashed #C0C0C0; 
	 line-height:23px;
}
/*1PX灰色实线边框*/
.tableTextarea{ border:1px solid #C8C8C6;}
/*浅蓝色背景*/
.tableTd { background-color:#E4E9F4;}

/*对齐样式,使用对齐目标的英文名称命名-----------------------------------*/
/*文本居中,行高21PX;*/
.right{
	 text-align:right; 
	 line-height:21px;
}
/*左内补丁2PX;文本居中,行高21PX;*/
.left{ 
     padding-left:2px; 
	 text-align:left; 
	 line-height:21px;
}

/*系统首页 右侧---------------------------------------------------------*/
/*高516PX;背景不重复局右下,白色背景*/
.tableBack{ 
     height:516px; 
	 background:url(../images/images_tab/right_back.jpg) no-repeat right bottom; 
	 background-color:#FFFFFF;
}
/*宽422PX,高126PX;背景不重复*/
.tableImg{  
     width:422px; 
	 height:126px;
	 background:url(../images/images_tab/img.gif) no-repeat;
}
/*宽167PX*/
.width{ width:167px;} 

/*汽泡样式 TOP----------------------------------------------------------*/
/*宽23PX,高18PX;背景不重复,背景图像位置左上角*/
.bubbleTopLeft { 
     width:23px; 
	 height:18px; 
	 background:url(../images/images_tab/image_bubble/bubbletopleft.gif) no-repeat left top;
}
/*高18PX;背景以X轴平铺*/
.bubbleTopCenter{ 
     height:18px; 
	 background:url(../images/images_tab/image_bubble/bubbletopcenter.gif) repeat-x;
}
/*宽11PX,高18PX;背景不重复,背景图像位置右上角*/
.bubbleTopRight{ 
     width:11px; 
	 height:18px; 
	 background:url(../images/images_tab/image_bubble/bubbletopright.gif) no-repeat right top;
}
/*汽泡样式 CENTER------------------------------------------------------*/
/*白色背景*/
.bubbleCenterCenter{ background-color:#FFFFFF;}
/*宽23PX;背景以Y轴平铺,背景图像位置居左*/
.bubbleCenterLeft{ 
     width:23px; 
	 background:url(../images/images_tab/image_bubble/bubblecenterleft.gif) repeat-y left;
}
/*宽11PX;背景以Y轴平铺,背景图像位置居右*/
.bubbleCenterRight{ 
     width:11px; 
	 background:url(../images/images_tab/image_bubble/bubblecenterright.gif) repeat-y right;
}
/*汽泡样式 BOTTOM-------------------------------------------------------*/
/*高20PX;背景以X轴平铺*/
.bubbleBottomCenter{ 
     height:20px; 
	 background:url(../images/images_tab/image_bubble/bubblebottomcenter.gif) repeat-x;
}
/*宽高固定 背景不重复 设置或检索对象的背景图像位置*/
.bubbleBottomLeft{ 
     width:23px; 
	 height:20px; 
	 background:url(../images/images_tab/image_bubble/bubblebottomleft.gif) no-repeat left top;
}
/*宽11PX,高20PX;背景不重复,背景图像位置右上角*/
.bubbleBottomRight{ 
     width:11px; 
	 height:20px; 
	 background:url(../images/images_tab/image_bubble/bubblebottomright.gif) no-repeat right top;
}

/*视频 TOP-------------------------------------------------------------*/
/*宽22PX,高21PX;背景不重复,背景图像位置左上角*/
.videoTopLeft { 
     width:22px; 
	 height:21px; 
	 background:url(../images/images_tab/videotopleft.gif) no-repeat left top;
}
/*高21PX;背景以X轴重复*/
.videoTopCenter { 
     height:21px; 
	 background:url(../images/images_tab/videotopcenter.gif) repeat-x;
}
/*宽21PX,高21PX;背景不重复,背景图像位置右上角*/
.videoTopRight{ 
     width:21px; 
	 height:21px; 
	 background:url(../images/images_tab/videotopright.gif) no-repeat right top;
}

/*视频 CENTER----------------------------------------------------------------*/
/*宽22PX;背景以Y轴平铺,背景图像位置左上角*/
.videoCenterLeft { 
     width:22px; 
	 background:url(../images/images_tab/videocenterleft.gif) repeat-y left top;
}
/*高度*/
.videoCenterCenter { height:auto;}
/*宽21PX,高28PX;背景以Y轴平铺,背景图像位置右上角*/
.videoCenterRight{ 
     width:21px; 
	 height:28px; 
	 background:url(../images/images_tab/videocenterright.gif) repeat-y right top;
}

/*视频 BOTTOM----------------------------------------------------------------*/
/*宽22PX,高23PX;背景不重复,背景图像位置左上角*/
.videoBottomLeft { 
     width:22px; 
	 height:23px; 
	 background:url(../images/images_tab/videobottomleft.gif) no-repeat left top;
}
/*高23PX;背景以X轴平铺*/
.videoBottomCenter { 
     height:23px; 
	 background:url(../images/images_tab/videobottomcenter.gif) repeat-x;
}
/*宽21PX,高23PX;背景不重复,背景图像位置右上角*/
.videoBottomRight{ 
     width:21px; 
	 height:23px; 
	 background:url(../images/images_tab/videobottomright.gif) no-repeat right top;
}
/*视频表格----------------------------------------------------------------*/
/*宽100%,高500PX;1PX白色实线边框;背景以X轴平铺,背景图像位置居上,蓝青色背景;文本居中*/
.videoPlayBack { 
     width:100%; 
	 height:500px; 
	 border:1px solid #ffffff; 
	 background:url(../images/images_tab/video_lineback_03.gif) repeat-x top; 
	 background-color:#106CAB; 
	 text-align:center;
}/*播放按钮+背景*/
/*高40PX;背景以X轴平铺*/
.videoPlay{ 
     height:40px; 
	 background:url(../images/images_tab/transparence_05.gif) repeat-x;
}

/*下拉列表表格----------------------------------------------------------------*/
/*浅青色背景,1PX浅青色实线边框*/
.tableTree{ 
     background-color:#E5F4FD; 
	 border-top:1px solid #B5D6E6;
}