@CHARSET "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

#tree-select {
    display: none;
    position: absolute;
    z-index: 999;
    border: 1px solid #b8c5e1;
    width: 250px;
    height: 358px;
    background: #ddecfe;
    border-radius: 15px 15px 15px 15px;
}

.tree_nav {
    width: 100%;
    height: auto;
}

#tree_tt {
    width: 100%;
    height: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#tt {
    width: 100%;
    height: 320px;
    font-size: 18px;
}

.img_btn {
    display: block;
    width: 56px;
    cursor: pointer;
    float: left;
    color: #333;
    font: normal 15px arial,tahoma,verdana,helvetica;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    overflow: visible;
    height: 22px;
    float: left;
    text-align: center;
    text-decoration: none;
    line-height: 22px;
    border: 1px solid #b8c5e1;
    margin-top: 14px;
    border-radius: 15px 15px 15px 15px;
    margin-left: 3px;
    padding-left: 5px;
    padding-top: -10px;
}

    .img_btn:hover {
        background: #fc5004;
        color: #fff;
    }

.img_btn_picture {
    margin-left: -90px;
    margin-top: 3px;
}

.img_btn_span {
    display: block;
    float: left;
    margin-top: 2px;
    margin-left: 13px;
}

#function {
    width: 299px;
    height: 30px;
}

.function li {
    list-style-type: none;
    float: left;
    padding-left: 50px;
    width: 200px;
}

.func_btn {
    display: block;
    width: 80px;
    font: normal 15px arial,tahoma,verdana,helvetica;
    cursor: pointer;
    height: 24px;
    float: left;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #5a92e2;
    border: 1px solid #b8c5e1;
    margin-top: 6px;
    margin-left: 15px;
    border-radius: 15px 15px 15px 15px;
}

    .func_btn:hover {
        background: #fc5004;
        color: #fff;
    }

.mohu_select {
    width: 100%;
    height: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
}

    .mohu_select ul li {
        list-style-type: none;
    }

    .mohu_select ul {
        width: 100%;
        height: auto;
    }

    .mohu_select li {
        width: 100%;
        height: 28px;
        line-height: 28px;
        text-align: left;
    }

        .mohu_select li:hover {
            color: #FB5004;
        }

.sousuo_nav {
    width: 100%;
    height: 350px;
    display: none;
}

#sousuo_mohu {
    width: 100%;
    height: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
}

    #sousuo_mohu ul li {
        list-style-type: none;
    }

    #sousuo_mohu ul {
        width: 100%;
        height: 320px;
    }

    #sousuo_mohu li {
        width: 100%;
        height: 28px;
        line-height: 28px;
        text-align: left;
        text-indent: 8px;
        font-size: 14px;
        overflow: hidden;
    }

        #sousuo_mohu li:hover {
            color: #FFF;
            cursor: pointer;
            border: 1px dotted;
            width: auto;
            border-radius: 10px;
            background: #54A1DD;
        }